section
  display inline-block
  vertical-align top

.link
  fill none
  stroke gray

// center text in bubbles
.node-text
  text-anchor middle
  dominant-baseline middle

.node-dot
  fill white
  stroke gray

// entire node hover so mousing over the text in the middle won't change back
// to a regular cursor
.node:hover
  cursor pointer

// string

.token
  padding 1em

.token-rect
  fill white
  stroke none

.token-text
  text-anchor middle
  dominant-baseline middle
  fill black

.hovered, .hovered > .token-rect
  fill pink
  background pink
  cursor pointer

.left-hovered, .left-hovered > .token-rect
  fill #afa
  background #afa

.right-hovered, .right-hovered > .token-rect
  fill #aaf
  background #aaf

// layout
.layout-line
  fill none
  stroke black
  stroke-width 4

  &.hovered
    stroke red
  &.left-hovered
    stroke green
  &.right-hovered
    stroke blue

.layout-rect
  fill rgba(0,0,0,0)
  stroke none

  &.hovered
    fill pink
  &.left-hovered
    fill #afa
  &.right-hovered
    fill #aaf

.layout-chip
  fill rgba(0, 0, 0, 0.3)
  stroke none

.layout-area
  fill white
  stroke none
  cursor pointer

.layout-text
  text-anchor middle
  dominant-baseline middle
  fill black

  // pass through mouseover
  pointer-events none

#layout-border
  fill none
  stroke black
  stroke-width 4

.line-graph
  fill none
  stroke-width 2

.temp
  stroke red

.cost
  stroke blue

.scale
  font-family sans-serif
  font-size 10pt
