section {
  display: inline-block;
  vertical-align: top;
}
.link {
  fill: none;
  stroke: #808080;
}
.node-text {
  text-anchor: middle;
  dominant-baseline: middle;
}
.node-dot {
  fill: #fff;
  stroke: #808080;
}
.node:hover {
  cursor: pointer;
}
.token {
  padding: 1em;
  font-size: 16pt;
}
.hovered {
  fill: #ffc0cb;
  background: #ffc0cb;
  cursor: pointer;
}
.left-hovered {
  fill: #afa;
  background: #afa;
}
.right-hovered {
  fill: #aaf;
  background: #aaf;
}
.layout-line {
  fill: none;
  stroke: #000;
  stroke-width: 4;
}
.layout-line.hovered {
  stroke: #f00;
}
.layout-line.left-hovered {
  stroke: #008000;
}
.layout-line.right-hovered {
  stroke: #00f;
}
.layout-rect {
  fill: #fff;
  stroke: none;
}
.layout-rect.hovered {
  fill: #ffc0cb;
}
.layout-rect.left-hovered {
  fill: #afa;
}
.layout-rect.right-hovered {
  fill: #aaf;
}
.layout-chip {
  fill: rgba(0,0,0,0.3);
  stroke: none;
}
.layout-area {
  fill: #fff;
  stroke: none;
  cursor: pointer;
}
.layout-text {
  text-anchor: middle;
  dominant-baseline: middle;
  fill: #000;
  pointer-events: none;
}
