section
  display inline-block

.link
  fill none
  stroke gray

// center text in bubbles
.node-text
  text-anchor middle
  dominant-baseline middle

.node-dot
  fill white
  stroke gray

// entire node hover so mousing over the text in the middle won't change back
// to a regular cursor
.node:hover
  cursor pointer

// string

.token
  padding 1em
  font-size 16pt

.hovered
  fill pink
  background pink
  cursor pointer

.left-hovered
  fill #afa
  background #afa

.right-hovered
  fill #aaf
  background #aaf

// layout
.layout-line
  fill none
  stroke black
  stroke-width 4

  &.hovered
    stroke red
  &.left-hovered
    stroke green
  &.right-hovered
    stroke blue

.layout-rect
  fill red
  stroke none

.layout-area
  fill white
  stroke none

  &.hovered
    fill pink
  &.left-hovered
    fill #afa
  &.right-hovered
    fill #aaf

.layout-text
  text-anchor middle
  dominant-baseline middle
  font-size 18pt
  fill black
