.link {
  fill: none;
  stroke: #808080;
}
.node-text {
  text-anchor: middle;
  dominant-baseline: middle;
}
.node-dot {
  fill: #fff;
  stroke: #808080;
}
.node:hover {
  cursor: pointer;
}
.token {
  padding: 1em;
  font-size: 16pt;
}
.hovered {
  fill: #ffc0cb;
  background: #ffc0cb;
  cursor: pointer;
}
.left-hovered {
  fill: #afa;
  background: #afa;
}
.right-hovered {
  fill: #aaf;
  background: #aaf;
}
